<input id="pop-up-toggle" class="visuallyhidden" type="checkbox" />

<div class="pop-up">
	<label for="pop-up-toggle"></label>
	<aside class="pop-up-content interactive-cards">
		<% popUpData.forEach(event => { %>
		<div class="content-item">
			<article class="event card">
				<a
					class="event__link link-overlay"
					href="/events/<%= event.general.id %>"
				></a>
				<div
					class="event__content overlay"
					style="background-image:url(/uploads/<%= event.general.image %>)"
				>
					<h4 class="event__h4 event__h4--name">
						<%= event.location.name %>
					</h4>
					<p class="event__time">
						Van <span class="p--bold"><%= event.time.start %></span> t/m <span class="p--bold"><%= event.time.end %></span></p>
					</p>
					<h4 class="event__h4 event__h4--title">
						<%= event.general.title %>
					</h4>
				</div>
			</article>
		</div>
		<% }) %>
	</aside>
</div>

<label class="floating-action" for="pop-up-toggle"
	><svg
		id="notification-bell"
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 448 512"
	>
		<path
			id="bell-ball"
			d="M224,512a64,64,0,0,0,64-64H160A64,64,0,0,0,224,512Z"
		/>
		<path
			id="bell-body"
			d="M439.39,362.29c-19.32-20.76-55.47-52-55.47-154.29,0-77.7-54.48-139.9-127.94-155.16V32a32,32,0,1,0-64,0V52.84C118.56,68.1,64.08,130.3,64.08,208c0,102.3-36.15,133.53-55.47,154.29A31.24,31.24,0,0,0,0,384c.11,16.4,13,32,32.1,32H415.9c19.12,0,32-15.6,32.1-32A31.23,31.23,0,0,0,439.39,362.29Z"
		/>
	</svg>
</label>
