<input id="pop-up-toggle" class="visuallyhidden" type="checkbox" />

<div class="pop-up">
  <label for="pop-up-toggle"></label>
  <aside class="pop-up-content interactive-cards">
    <% popUpData.forEach(event => { %>
    <div class="content-item">
      <article class="event card">
        <a class="event__link overlay" href="/event/"></a>
        <div
          class="event__content overlay"
          style="background-image:url(/uploads/<%= event.general.image %>)"
        >
          <h4 class="event__h4 event__h4--name">
            <%= event.location.name %>
          </h4>
          <p class="event__time">
            Van <%= event.time.start %> t/m <%= event.time.end %>
          </p>
          <h4 class="event__h4 event__h4--title">
            <%= event.general.title %>
          </h4>
        </div>
      </article>
    </div>
    <% }) %>
  </aside>
</div>

<label class="floating-action" for="pop-up-toggle">Pop up</label>
