<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %>

<% include ../../partials/hero %>

<main>

    <section class="display--flex-v section section--radius section--padding-0 section--minHeight">
        <h3 class="section__h3--heading">Events</h3>

        <% data.forEach(event => { %>
            <a href="/event/">
                <article class="event">
                    <div
                    class="event__content overlay"
                    style="background-image:url(/uploads/<%= event.general.image %>)"
                    >
                    <h4 class="event__h4 event__h4--name"><%= event.location.name %></h4>
                    <p class="event__time">
                            Van <%= event.time.start %> t/m <%= event.time.end %></p>
                    </p>
                    <h4 class="event__h4 event__h4--title"><%= event.general.title %></h4>
                    </div>
                </article>
            </a>
        <% }) %>

    </section>

</main>

<% include ../../partials/footer %></section>
