<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %>

<% include ../../partials/hero %>

<main>

    <section class="display--flex-v section section--radius section--padding-0 section--minHeight">
        <h3 class="section__h3--heading">Events</h3>

        <!-- <div class="display-flex-v st-filter-form">
                <div class="display-flex-h">
                    <p>Filteren</p>
    
                    <button><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg></button>
                </div>
                
                <form method="POST" class="display-flex-v">
                    <label for="filter-sport">Sport</label>
                    <select id="filter-sport" name="">
                        <option disabled selected value> -- Selecteer en sport -- </option>
                    <% sportDescription.forEach(sport => { %>
                        <option value="<%= sport.sport %>"><%= sport.sport%></option>
                    <% }) %>
                    </select>
    
                    <label for="filter-day">Dag</label>
                    <select id="filter-day" name="">
                        <option disabled selected value> -- Selecteer en dag -- </option>
                        <option value="maandag">Maandag</option>
                        <option value="dinsdag">Dinsdag</option>
                        <option value="woensdag">Woensdag</option>
                        <option value="donderdag">Donderdag</option>
                        <option value="vrijdag">Vrijdag</option>
                        <option value="zaterdag">Zaterdag</option>
                        <option value="zondag">Zondag</option>
                    </select>
    
                    <label for="filter-type">Type</label>
                    <select id="filter-type" name="">
                        <option disabled selected value> -- Selecteer en type event -- </option>
                        <% sportEvents.forEach(sport => { %>
                            <option value="<%= sport.general.type %>"><%= sport.general.type%></option>
                        <% }) %>
                        </select>
    
                    <button>Submit</button>
                </form>
            </div> -->

        <% data.forEach(event => { %>
            <article class="article">
                <p class="article__p"><%= event.general.title %></p>

                <img class="article__img" src="/uploads/<%= event.general.image %>" alt="" />

                <a href="#" class="button button--solid-yellow button--small article__button"><%= event.sport.name %></a>

                <p class="article__description"><%= event.general.description %></p>

                <p class="article__time">Van <span class="st-p-bold"><%= event.time.timeStart %></span> t/m <span class="st-p-bold"><%= event.time.timeEnd %></span></p>

                <ul class="article__list">
                    <li><%= event.location.name %></li>
                    <li><%= event.location.city %></li>
                    <li><%= event.location.address %></li>
                </ul>
            </article>
        <% }) %>

    </section>

</main>

<% include ../../partials/footer %></section>
