<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
  <section class="display-flex-v st-section-radius">
    <!-- <h3>Find your sport activity</h3> -->
		<a class="back-button" href="/sportslist">< Back to overview</a></Back>
    <h3><%= sport %></h3>
    <div>
      <ul class="filter-bar">
        <li>
          <span>
            <a href="/sportslist/events/<%=sport%>">Events</a>
          </span>
          <span class="selected">
            <a href="#">Sport Clubs</a>
          </span>
        </li>
      </ul>
    </div>
  </section>
  <section id="st-sportslist-clubs" class="display-flex-v">
    <% clubs.forEach(club => { %>
    <article>
      <div>
        <h4 class="heading-darkblue"><%=club.naam%></h4>
        <p class="clubs-tag"><%=sport%></p>
      </div>
      <p><%=club.naam_accommodatie%></p>
      <p><%=club.adres_accommodatie%>, <%=club.plaats_accommodatie%></p>
      <a href="http://<%=club.website%>" class="website"> <%=club.website%></a>
    </article>
    <% }) %>
    
  </section>
</main>

<% include ../../partials/footer %>
