<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
	<!-- <section class="section"> -->
	<!-- <h3>Find your sport activity</h3> -->
	<!-- <a class="back-button" href="/sportslist">< Back to overview</a></Back> -->

	<section
		class="display--flex-v section section--highlight section--highlight-radius"
	>
		<h3 class="section__h3--heading section__h3--heading--white">
			<%= sport %>
		</h3>
		<p class="p--sportdescription"><%= sportDescription %></p>
	</section>

	<section class="section section--radius">
		<div class="switchFilter">
			<!-- <a class="button--back" href="/sportslist">< Terug naar overzicht</a> -->
			<ul class="filter--bar">
				<li>
					<span>
						<a href="/sportslist/events/<%=sport%>">Activiteiten</a>
					</span>
					<span class="selected">
						<a href="/sportslist/clubs/<%=sport%>">Sportclubs</a>
					</span>
				</li>
			</ul>
		</div>

		<% clubs.forEach(club => { %>
		<article class="article--sportclubs">
			<div>
				<h4><%=club.naam%></h4>
				<h5 class="clubs-tag"><%=sport%></h5>
			</div>

			<p><%=club.adres_accommodatie%></p>
			<p><%=club.naam_accommodatie%></p>
			<p><b><%=club.plaats_accommodatie%>, <%=club.stadsdeel%></b></p>
			<a href="http://<%=club.website%>" class="website"> <%=club.website%></a>
		</article>

		<div class="divider"></div>
		<% }) %>
	</section>
</main>

<% include ../../partials/footer %>
