<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
	<section class="display--flex-v section section--radius section--padding-0">
		<h3 class="section__h3--heading">Jouw activiteit</h3>

		<a href="/event/" class="event__link">
			<article class="event">
				<div
				class="event__content overlay"
				style="background-image:url(/uploads/<%= event.general.image %>)"
				>
				<h4 class="event__h4 event__h4--name"><%= event.location.name %></h4>
				<p class="event__time">
						Van <span class="p--bold"><%= event.time.start %></span> t/m <span class="p--bold"><%= event.time.end %></span></p>
				</p>
				<h4 class="event__h4 event__h4--title"><%= event.general.title %></h4>
				</div>
			</article>
		</a>

		<form action="/publish-event" method="POST">
			<button type="submit" class="button button--ghost button--top">
				Publiceer activiteit
			</button>
		</form>
	</section>
</main>

<% include ../../partials/footer %>
