<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
	<section id="st-created-event" class="display-flex-v st-section-radius">
		<h3>Your event</h3>

		<article class="st-homepage-palace-article">
			<p class="st-p-bold"><%= event.general.title %></p>

			<img src="/images/swimming-pool.png" alt="" />

			<a href="#" class="st-button st-button-solid-yellow"
				><%= event.sport.name %></a
			>

			<p><%= event.general.description %></p>

			<p>
				Van <span class="st-p-bold"><%= event.time.timeStart %></span> t/m
				<span class="st-p-bold"><%= event.time.timeEnd %></span>
			</p>

			<ul>
				<li><%= event.location.name %></li>
				<li><%= event.location.city %></li>
				<li><%= event.location.address %></li>
			</ul>
		</article>

		<form action="/publish-event" method="POST">
			<button type="submit" class="st-button st-button-border">
				Publish Event
			</button>
		</form>
	</section>
</main>

<% include ../../partials/footer %>
