<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>
    <section id="st-created-event" class="display-flex-v st-section-radius">
        <h3>Your event</h3>

        <div>
            <p><span class="st-p-bold">Title:</span> <%= event.general.title %></p>
            <p><span class="st-p-bold">Description:</span> <%= event.general.description %></p>
            <p><span class="st-p-bold">Sport:</span> <%= event.sport.sportName %></p>
            <p><span class="st-p-bold">Location:</span> <%= event.location.city %>, <%= event.location.address %></p>
            <p><span class="st-p-bold">Time:</span> <%= event.time.timeStart %> t/m <%= event.time.timeEnd %></p>
            <p><span class="st-p-bold">Date:</span> <%= event.date %></p>
        </div>

        <a href="/create-event" class="st-button st-button-border">Publish Event</a>
    </section>
</main>

<% include ../partials/footer %>
