<% include ../../partials/header %>

<h1>Sportstimulering</h1>
<% include ../../partials/nav-basic %>
<!-- <% include ../../partials/hero %> -->
<nav class="section nav__cross--transparant">
    <a href="/" type="button" class="header__hamburger header__cross">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="times"
        class="svg-inline--fa fa-times fa-w-11"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 352 512"
      >
        <path
          fill="currentColor"
          d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
        ></path>
      </svg>
    </a>
  </nav>
<section class="custom-Hero--big"></section>

<section class="card-carousel">
	<% for (let index = 0; index < quizResult.length; index++) { %>

	<div class="card">
		<span><%= index+1 %></span>
		<h2><%= quizResult[index].sport.sport %></h2>
		<p><%= quizResult[index].sport.description %></p>
		<a
			href="/sportslist/clubs/<%= quizResult[index].sport.sport %>"
			class="button button--ghost button--top"
			>Bekijk de sportclubs</a
		>
  </div>
  <% } %>
</section>

  <section class="display--flex-v section section--radius section--padding-0 section--minHeight">
      <% for (let index = 0; index < quizResult.length; index++) { %>
        <% if (quizResult[index].sport.event) { %>
  <a class="event__link" href="/event/">

    <article class="event" data-sport="<%= quizResult[index].sport.sport %>">
        
        <div
        class="event__content overlay"
        style="background-image:url(/uploads/<%= quizResult[index].sport.event.general.image %>)"
        >
        <h4 class="event__h4 event__h4--name"><%= quizResult[index].sport.event.location.name %></h4>
        <p class="event__time">
                Van <%= quizResult[index].sport.event.time.start %> t/m <%= quizResult[index].sport.event.time.end %></p>
        </p>
        
        <h4 class="event__h4 event__h4--title"><%= quizResult[index].sport.event.general.title %></h4>
        </div>
    </article>
  </a>
  <% } %>
<% } %>
</section>
</section>
<a href="#" class="carousel-controller"></a>

<% include ../../partials/footer %>
